<h1>Ibb#ibb</h1>
<p>Find me in app/views/ibb/ibb.html.erb</p>

  <%@b = @json["features"]%>
  <%@b.each do |n|%>
    <%@c=n["properties"]%>
    <%= @d=@c["ilce"]%> =>
    <%= @d=@c["isin_adi"]%>
  <% end%>









